.container-mio {
  width: 100%;
  margin: 0 auto;
}

/*------ MEDIA QUERIES ------*/
@media (min-width: 576px) {
  .container-mio {
    width: 540px !important;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container-mio {
    width: 720px !important;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container-mio {
    width: 960px !important;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container-mio {
    width: 1140px !important;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .container-mio {
    width: 1320px !important;
    margin: 0 auto;
  }
}
