@font-face {
  font-family: "Elgoc Light";
  src: url("../fonts/Elgoc-Light.woff2");
}
@font-face {
  font-family: "Elgoc Regular";
  src: url("../fonts/Elgoc-Regular.woff2");
}
@font-face {
  font-family: "Elgoc Thin";
  src: url("../fonts/Elgoc-Thin.woff2");
}
@font-face {
  font-family: "Engravers";
  src: url("../fonts/engravers.woff2");
}
